@use 'base/variables' as v;
@use 'base/mixins' as m;
.contenedor-descripciones {
    position: absolute;
    right: 0;
    left: 0;
    height: fit-content;
}
.descripciones {
    min-height: 25rem;
    height: fit-content;
}
.card__contenedor {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -5rem auto 5rem auto;
    @include m.tablet {
        flex-direction: row-reverse;
    }
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 25rem;
    padding: 1rem 0;
    h2 {
        color: v.$claro;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    &-calculadora {
        background-color: v.$azul;
        color: v.$claro;
    }
    &-atomo {
        background-color: v.$verde;
        color: v.$negro;
        h2 {
            color: v.$negro;
            font-weight: bold;
        }
    }
    &-dollar {
        background-color: v.$azul;
        color: v.$claro;
        font-weight: bold;
    }
}
