/** Media Queries **/
@use 'base/variables' as v;
@mixin telefono {
    @media (min-width: #{v.$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{v.$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{v.$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $colorTexto;
    margin: 2rem auto;
    font-size: 2rem;
    font-weight: v.$bold;
    border: none;
    border-radius: 1rem;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    display: block;

    &:hover {
        background-color: darken($bgColor, 5);
        cursor: pointer;
    }
}
